$border: 0.25em;
$display: inline-block;
$height: 2.5em;
$margin-top: -1em;
$margin-right: -0.05em;
$width: 3.4em;

.string-row {
  display: inline-block;
  margin-left: 1.5em;
}
.letter {
  z-index: 1;
  line-height: 1.9em;
  text-align: center;
  position: absolute;
  top: 1.1em;
  left: 1.0em;
  background-color: green;
  font-size: 16px;
  color: white;
  width: 1.8em;
  height: 1.8em;
  border-radius: 1.2em;
  font-family: monaco, monospace;
}
.letter-off {
  @extend .letter;
  background-color: rgba(50,50,50,0.5);
  color: white;
}
.standard {
  width: $width;
  height: $height;
  display: $display;
  position: relative;
  border-right: $border solid black;
  border-bottom: $border solid black;
  margin-top: $margin-top;
  margin-right: $margin-right;
}
.top-edge {
  @extend .standard;
  border-right: $border solid transparent;
}
.nut-row {
  @extend .standard;
  border-right: 7px solid grey;
}
